<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiFlowerOutline, mdiCardsHeart } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiCardsHeart" /> Love Me
          <template v-slot:tail> Tail </template>
        </FancyButton>
      </v-col>
      <v-col
        ><FancyButton>
          Click Me
          <template #tail>
            My Tail
            <v-icon :icon="mdiFlowerOutline" />
          </template>
        </FancyButton>
      </v-col>
    </v-row>
  </v-container>
</template>
