<script setup lang="ts">
import FrameworkPop1 from "@/components/FrameworkPop1.vue";
import { ref } from "vue";
import {
  mdiFlowerOutline,
  mdiCardsHeart,
  mdiCursorDefaultClick,
} from "@mdi/js";
const frameList = ref([
  {
    name: "Sakulsuksa School",
    img: "https://www.schooljob.in.th/picschool/577bcc914f9e55d5e4e4f82f9f00e7d4.jpg?key=1671200860",
    description: "Kindergarten and Elementary education",
    linkPage: "http://www.sakulsuksa.ac.th/",
  },
  {
    name: "Pakchong School",
    img: "https://upload.wikimedia.org/wikipedia/commons/4/46/Pakchong_School.jpg",
    description: "High school",
    linkPage: "http://www.pcschool.ac.th/",
  },
  {
    name: "Burapha University",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Buu-logo11.png/800px-Buu-logo11.png",
    description: "Bachelor Degree : Studying in the 3rd year",
    linkPage: "https://www.buu.ac.th/",
  },
]);
</script>
<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="5">
        <v-img
          style="border-radius: 3%"
          src="https://assets.promediateknologi.com/crop/0x0:0x0/750x500/photo/hops/2021/08/leviii-c6dc9e4f5b9b26fb6884e8e458e27dea-aa8c5b31a0e02bcc5be6efd312f0f92f.jpg"
        >
        </v-img>
      </v-col>
      <v-col class="hidden-xs-only" sm="5" md="">
        <v-table>
          <thead>
            <tr>
              <th style="font-size: 20pt">
                My Contact
                <v-icon :icon="mdiCardsHeart" />
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"
                  aspect-ratio="6"
                >
                </v-img>
              </td>
              <td>
                <v-btn
                  href="https://www.facebook.com/soisawan.imwibul.1"
                  :append-icon="mdiCursorDefaultClick"
                  color="#536DFE"
                  >Soisawan Imwibul</v-btn
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-img
                  src="https://cdn-icons-png.flaticon.com/512/2504/2504922.png"
                  aspect-ratio="6"
                >
                </v-img>
              </td>
              <td>
                <v-btn
                  href="https://line.me/ti/p/D-vaLiL4Df"
                  :append-icon="mdiCursorDefaultClick"
                  color="#7CB342"
                  >สร้อย (0995086978)</v-btn
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-img
                  src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                  aspect-ratio="6"
                >
                </v-img>
              </td>
              <td>
                <v-btn
                  href="https://www.instagram.com/ssw2st_/"
                  :append-icon="mdiCursorDefaultClick"
                  color="#FF4081"
                  >ssw2st_</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table></v-col
      >
    </v-row>
    <v-row justify="center">
      <v-col cols="7">
        <v-table>
          <thead>
            <tr>
              <th style="font-size: 20pt">
                My Profile <v-icon :icon="mdiFlowerOutline" />
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Name:</th>
              <td class="preBorder">Soisawan imwibul</td>
            </tr>
            <tr>
              <th>Favorite thing :</th>
              <td class="preBorder">
                watch Netflix, listen to music, read novels, and sleep
              </td>
            </tr>
            <tr>
              <th>Education:</th>
              <td class="preBorder"></td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop1
          :name="item.name"
          :img="item.img"
          :description="item.description"
          :linkPage="item.linkPage"
          :index="index"
        >
        </FrameworkPop1>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
td {
  border-right: 2px solid #6d4c41;
}
.preBorder {
  border-left: 2px solid #6d4c41;
}
.sectionMPro {
  font-size: 30pt;
  text-align: center;
}
.setBackground {
  background-color: aqua;
}
</style>
<!-- My Profile 
- รูปภาพ	
- ชื่อ-สกุล
- ประวัติการศึกษา
- สิ่งที่สนใจ
สิ่งที่จารอยากให้ใช้ 
- v-container, v-row, v-col, v-img, v-img, v-avatar ... => vurtify -->
