<script setup lang="ts">
import { ref } from "vue";
const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    description: string;
    linkPage: string;
    index: number;
  }>(),
  {}
);
</script>
<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img :src="props.img" height="200px"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-caption">{{ props.description }}</div>
      </div>
    </v-card-item>
    <v-card-actions class="justify-center">
      <v-btn variant="outlined" color="#6D4C41" :href="props.linkPage">
        View page
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
